<mat-card>
    <mat-card-header class="genre-card-header">
        <mat-card-title class="genre-card-title">Genre: {{ data.Name }}</mat-card-title>
        <span class="fill-remaining-space"></span>
        <button class="dir-close-button" aria-label="Close the genre details button" mat-dialog-close>&#10008;</button>
    </mat-card-header>
    <mat-card-content class="genre-card-content">
        <p>Descriptiom: {{ data.Description }}</p>
    </mat-card-content>
</mat-card>


<!-- <mat-card class="genre-card-header">
    <button class="dir-close-button" mat-stroked-button aria-label="Close the genre details button" mat-dialog-close
        color="primary">
        X
    </button>
    <mat-card-title>
        <h3 class="genre-card-title">{{ data.Name }}</h3>
    </mat-card-title>
    <br />
    <mat-dialog-content class="genre-card-content">
        <b>Description: </b>{{ data.Description }}
    </mat-dialog-content>
</mat-card> -->


<!-- <mat-card>
    <mat-card-header class="genre-card-header">
        <mat-card-title class="genre-card-title">{{ data.genre }}</mat-card-title>
        <span class="fill-remaining-space"></span>
        <button class="dir-close-button" aria-label="Close the genre details button" mat-dialog-close>&#10008;</button>
    </mat-card-header>
    <mat-card-content class="genre-card-content">
        <p> Description: {{ data.description }}</p>
    </mat-card-content>
</mat-card> -->