<app-navbar></app-navbar>
<br>
<br>
<div class="profile-container">
    <mat-card class="user-card">
        <!-- <img mat-card-image src="https://i.pinimg.com/736x/26/99/bc/2699bcbef4bf1aa73165fa16a3e087dc--ladybug-party-ladybug-costume.jpg" -->
        <!-- <img mat-card-image src="https://pm1.narvii.com/6746/c054e7925d4aea088d7b0ed09de8efaa8ff94d40v2_hq.jpg" -->
        <img mat-card-image src="https://www.clipartkey.com/mpngs/m/187-1871891_transparent-hello-kitty-kimono.png"
            width="200px">
        <mat-card-header class="user-card-header">
            <mat-card-title>{{userData.Username}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Email: {{ userData.Email }} </p>
            <p>Name: {{userData.Username}} </p>
            <p>Birthday: {{userData.Birthday}} </p>
            <!-- <p>Birthday: {{userData.Birthday | date:'longDate'}}</p> -->
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Update Profile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form>
                    <mat-form-field>
                        <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text"
                            name="Username">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password"
                            name="Password">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="userData.Email" type="email" placeholder="Email" name="Email">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="userData.Birthday" type="date" placeholder="Birthday"
                            name="Birthday">
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="updateUser()" color="primary">
                    Update user details
                </button>
                <mat-card-actions>
                    <button mat-raised-button (click)="deleteUser()" color="primary">
                        Delete user
                    </button>
                </mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </mat-card>
    <!-- <mat-card-header>
        <mat-card-title>Favorite movies</mat-card-title>
    </mat-card-header>
    <mat-card *ngFor="let movie of movies">
        <mat-dialog-content>
            <div class="movie-card" *ngIf="isFav(movie)">
                <h2>{{ movie.Imagepath }}</h2>
                <img [src]="movie.image" alt="Movie Poster" width="200" height="300">
                <div class="button-container">
                    <button mat-raised-button class="custom-button"
                        (click)="openGenreDialog(movie.genre, movie.description)">
                        Genre</button>
                    <button mat-raised-button class="custom-button"
                        (click)="openDirectorDialog(movie.director, movie.bio,movie.birthdate)">
                        Director</button>
                    <button mat-raised-button class="custom-button"
                        (click)="openSynopsisDialog(movie.movieName, movie.description)">
                        Synopsis</button>
                    <button mat-icon-button (click)="toggleFav(movie)">
                        <mat-icon *ngIf="isFav(movie)" style="transform: scale(1.5)">
                            favorite
                        </mat-icon>
                        <mat-icon *ngIf="!isFav(movie)" style="transform: scale(1.5)">
                            favorite_border
                        </mat-icon>
                    </button>
                </div>
            </div>
        </mat-dialog-content>
    </mat-card> -->



</div>