.profile-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.custom-button {
    // // background-color: #a1c83d;
    // background-color: #C8753D;
    color: #0c0c0c;
    font-size: 15px;
    height: 35px;
    margin: 5px;

}


// .movies-grid {
//     display: grid;
//     // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
//     grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
//     gap: 20px;
//     /* Gap between grid items */
//     // padding: 20px;
//     padding: 15px;
//     /* Add padding to the container */
//     background-color: rgba(0, 0, 0, 0.8);
//     /* Semi-transparent black background color */
//     padding-top: 45px;
// }